{% extends "base_portfolio_template.html" %}
{% load static %}

{% block body %}
    <section id="projects-sec">
        <h1 class="animate-show" class="title">Projects</h1>
        <div style="" id="projects-container">
            {% for repo in repos %}
                <div class="project-card">
                    <div class="heading">
                        <span>{{repo.name}}</span>
                        <div style="display:flex;justify-content:space-around;padding:5px 0;">
                            <a href="{{repo.github_url}}" target="_blank"><i class="fa-brands fa-github fa-2xl" style="color:var(--color-light-theme)"></i></a>
                        </div>
                    </div>
                    
                    <div class="project-card-details">
                        {% if repo.description is not None %}
                        <p>{{repo.description}}</p>
                        {% else %}
                        <p>No Description</p>
                        {% endif %}
                        <div class="tags-container">
                            {% for lang in repo.langs.langs %}
                                <span class="tag">{{lang}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}